<!DOCTYPE html>
<html>
  <head>
  <meta charset= "utf-8">

    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
      <p><strong>Autor de la página:</strong> Miriam Zaragoza Fernández</p>
  	  <p><strong>Foto de perfil:</strong></p>
      <img src=  "miriamzf.jpg" height= "150" /> 

  </body>
</html>















